<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us - Add Location</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="/static/table.css">
    <link rel="stylesheet" href="/static/dashboard.css">
  </head>
  <body>
    <div class="backend-root">
      <header>
        <div class="header-section">
          <div class="header-content">
            <div class="header-container logo">
                <img src="/background/swl3.png" class="platform-logo">
            </div>
          </div>
        </div>
      </header>
      <div class="body-root">
        <div class="body-section">
          <div class="body-content">
            <div class="sidebar">
              <div class="sidebar-content">
                <div class="sidebar-container sidebar-menu">
                    <div class="sidebar-container sidebar-menu">
                        <a href="/admin_index" class="menu-item"><i class="fas fa-edit menu-icon"></i>Blog's</a>
                        <a href="/admin_image" class="menu-item"><i class="fas fa-image menu-icon"></i>Image's</a>
                        <a href="/admin_contact" class="menu-item"><i class="fas fa-map-marker-alt menu-icon"></i>Contact Us</a>
                        <a href="/admin_review" class="menu-item"><i class="fas fa-comment menu-icon"></i>Review</a>
                        <a href="/logout" class="menu-item"><i class="fas fa-sign-out-alt menu-icon"></i>Log Out</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="main">
              <div class="main-content">
                <div class="main-container add-location">
                  <h2>Add a Location to the Contact Us Form</h2>
                  <div class="add-location-form">
                    <form class="location-form" method="POST" action="/address">
                      <div class="form-field field-1 medium">
                        <label for="branch-address">Branch Address</label>
                        <textarea id="branch-address" rows="3" name="address" placeholder="Enter branch address" required></textarea>
                      </div>
                      <div class="add-location-actions">
                        <div class="button-container">
                          <button class="add-location" type="submit">Add Location</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="table">
                <div class="row bg-1">
                  <div class="cell cell-10 text-center text-fff">ADDRESS</div>
                  <div class="cell cell-100 text-center text-fff">REMOVE</div>
                </div>
                <ul>
                  {% for address in addresses %}
                  <li class="row">
                    <div class="cell cell-10 text-center"><a href="">{{ address.address }}</a></div>
                    <div class="cell cell-100 text-center">
                      <div class="edit-remove">
                        <a href="/remove_address/{{ address.id }}" class="btnRemove fa fa-remove bg-1 text-fff" onclick="return confirm('Do you really want to remove it ?')"></a>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
