<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="/static/table.css">
    <link rel="stylesheet" href="/static/dashboard.css">
  </head>
  <body>
    <div class="backend-root">
      <header>
        <div class="header-section">
          <div class="header-content">
            <div class="header-container logo">
              <img src="/background/swl3.png" class="platform-logo">
            </div>
          </div>
        </div>
      </header>
      <div class="body-root">
        <div class="body-section">
          <div class="body-content">
            <div class="sidebar">
              <div class="sidebar-content">
                <div class="sidebar-container sidebar-menu">
                  <a href="/admin_index" class="menu-item"><i class="fas fa-edit menu-icon"></i>Blog's</a>
                  <a href="/admin_image" class="menu-item"><i class="fas fa-image menu-icon"></i>Image's</a>
                  <a href="/admin_contact" class="menu-item"><i class="fas fa-map-marker-alt menu-icon"></i>Contact Us</a>
                  <a href="/admin_review" class="menu-item"><i class="fas fa-comment menu-icon"></i>Review</a>
                  <a href="/logout" class="menu-item"><i class="fas fa-sign-out-alt menu-icon"></i>Log Out</a>
              </div>
              </div>
            </div>
            <div class="main">
              <div class="main-content">
                {% if message %}
                <div class="alert">
                  {{ message }}
                </div>
                {% endif %}
                <div class="main-container new-blog">
                  <h2>Post a new blog</h2>
                  <div class="new-post-form blog">
                    <form class="new-blog-form" action="/admin/create-blog" method="POST" enctype="multipart/form-data">
                      <div class="form-field field-1 medium">
                        <label for="post-title">Blog Title</label>
                        <input id="post-title" type="text" name="title" required>
                      </div>
                      <div class="form-field field-2 medium">
                        <label for="post-description">Blog Description</label>
                        <textarea id="post-description" type="text" rows="4" name="content" required></textarea>
                      </div>
                      <div class="form-field field-3 short">
                        <label for="post-thumbnail">Blog Thumbnail</label>
                        <input id="post-thumbnail" type="file" name="file" accept="image/*" required>
                      </div>
                      <div class="new-post-actions">
                        <div class="button-container">
                          <button class="publish" type="submit">Publish</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <form method="GET" action="/admin_index"  name="listForm" class="form scrollX">
                <div class="formHeader row">
                    <h2 class="text-1 fl">Blog's</h2>
                </div>
                <div class="table">
                    <div class="row bg-1">
                        <div class="cell cell-100p text-fff">BLOG</div>
                        <div class="cell cell-10 text-center text-fff">DATE</div>
                        <div class="cell cell-100 text-center text-fff">EDIT</div>
                    </div>
                    <ul>
                        {% for blog in blogs %}
                        <li class="row">
                          <div class="cell cell-100p">{{ blog.title }}</div>
                          <div class="cell cell-10 text-center">{{ blog.created_at.strftime('%d/%m/%Y') }}</div>
                          <div class="cell cell-100 text-center">
                            <div class="edit-remove">
                              <a href="/delete/{{blog.id}}" class="btnRemove fa fa-remove bg-1 text-fff" onclick="return confirm('Do you really want to remove it ?')"></a>
                          </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>