<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="admin.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/gallery.css" />

    <link rel="stylesheet" href="css/header.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <div class="body-root">
    <div class="body-section">

      <header class="header">
        <nav class="navbar">
          <h2 class="logo"><a href="#">SpeakWell <br> Spoken English Class</a></h2>
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" id="hamburger-btn">&#9776;</label>
          <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="keyfactor.html">Key Factors</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog2.html">Blogs</a></li>
            <li><a href="contactUs.html">Contact Us</a></li>
            <div class="buttons">
              <a href="login.html" class="signin">Sign In</a>
            </div>
          </ul>
        </nav>
      </header>

    <section class="intro-section">
        <h1>[ Gallery ]</h1>
    </section>

    <div class="gallery">
        <img src="images/1.jpeg">
        <img src="images/2.jpeg">
        <img src="images/3.jpeg">
        <img src="images/4.jpeg">
        <img src="images/5.jpeg">
        <img src="images/6.jpeg">
        <img src="images/7.jpeg">
        <img src="images/8.jpeg">
        <img src="images/9.jpeg">
        <img src="images/10.JPG">
        <img src="images/11.JPG">
    </div>

    <div id="Whatsapp"></div>

    <section id="footer">
      <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <h5>Quick links</h5>
                  <ul class="list-unstyled quick-links">
                    <li><a href="index.html"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="keyfactor.html"><i class="fa fa-angle-double-right"></i>Key Factor</a></li>
                    <li><a href="gallery.html"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="blog2.html"><i class="fa fa-angle-double-right"></i>Blog's</a></li>
                    <li><a href="contactUs.html"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                  <ul class="list-unstyled list-inline social text-center">
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
              </hr>
          </div>	
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                  <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
              </div>
              </hr>
          </div>	
      </div>
  </section>
    </div>
    </div>

    <script>
          fetch('whatsapp.html')
        .then(response => response.text())
        .then(data => {
        document.getElementById('Whatsapp').innerHTML = data;
        });
    </script>
  </body>
</html>