<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Key Factor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="/static/Admin.css">

    <link rel="stylesheet" href="/static/Keyfactor.css" />
    <link rel="stylesheet" href="/static/Form.css" />

    <link rel="stylesheet" href="/static/Header.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/Footer.css" />
  </head>
  <body>
    <div class="body-root">
    <div class="body-section">

      <header class="header">
        <nav class="navbar">
          <h2 class="logo"><a href="#">SpeakWell <br> Spoken English Class</a></h2>
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" id="hamburger-btn">&#9776;</label>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/keyfactor">Key Factors</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog2">Blogs</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <div class="buttons">
              <a href="/login" class="signin">Sign In</a>
            </div>
          </ul>
        </nav>
      </header>

      <section class="intro-section">
        <h1>[ Key Factors ]</h1>
    </section>

    <main class="page-content">
        <div class="card">
            <div class="content">
                <h2 class="title">Institutes For Interview Skill</h2>
                <p class="copy">Our institute is the best for these training, with the best and trained of professionals in this field.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Group Discussion Class</h2>
                <p class="copy">A group discussion is a group of individuals, in the form of a circle with similar interests.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Training Group Discussion</h2>
                <p class="copy">We are renowned for providing you the best range of training group discussion.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Tutorials For Group Discussion</h2>
                <p class="copy">We provide Efficient and excellent staff and professionals who take Tutorials for group discussion.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Soft Skill Training Center</h2>
                <p class="copy">We offer the best soft skill training center which bring learning up the workforce timely and effectively.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Classes For English Grammer</h2>
                <p class="copy">We provide language training for English Grammer & make sure the students learn the language efficiently.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Tutorials For English Grammer</h2>
                <p class="copy">We offer tutors for English Grammer students, professional faculty and best attention given to students.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Tutorials For Interview</h2>
                <p class="copy">We have the most efficient team that provides best tutorials for all kinds of interviews.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Classes For Corporate English</h2>
                <p class="copy">We are one of the recognized & most popular language classes for corporate English with best tutors.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Spoken English Workshops</h2>
                <p class="copy">Our team of experienced tutors excels in organizing English speaking workshops for our clients.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Classes For English Conversation</h2>
                <p class="copy">We are one of the recognized & most popular language classes for English conversation with best tutors</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Institutes For Personality Development</h2>
                <p class="copy">We introduce ourselves as one of the best institute by offering quality courses for personality development.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Institutes For Communicaton Skill</h2>
                <p class="copy">Study integrated cources for Communicaton Skill and pass out with flying colours!<br> Contact us to know more!</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Class English Spoken Certificate Course</h2>
                <p class="copy">Counted among the illustrious firms, we are engrossed in providing english spoken certificate courses.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Personal Grooming Classes</h2>
                <p class="copy">Want an appealing image and a confident personality? <br>Contact us and we would groom you completely. </p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Institutes For Interview Skill</h2>
                <p class="copy">Our institute is the best for these training, with the best and trained of professionals in this field.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Interview Technique Training</h2>
                <p class="copy">Our experties lies in rendering expert advice and techniques to be used for taking up an interview round.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Personality Development</h2>
                <p class="copy">We own personality development classes for individuals of all age groups for them to polish their personality.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Communication Training Centres</h2>
                <p class="copy">We are recognised as one of the best and most renowned communication training centres in the city.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Public Speaking Institutes</h2>
                <p class="copy">In our public speaking institute, we will help you boost confidence and improve your english speaking skills.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Classes</h2>
                <p class="copy">Love learning different language? We offer best language classes for easy and fast learning!</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Institutes For Personality Development</h2>
                <p class="copy">We introduce ourselves as one of the best institute by offering quality courses for personality development.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Language Classes For English</h2>
                <p class="copy">Do people make fun of your English? Don't worry, we are here with English language class. Learn from experts.</p>
                <button class="btn" onclick="showEnquiryForm()">Enquire Now</button>
            </div>
        </div>
        
    </main>

    <!-- Enquiry Form -->
    <div class="overlay" id="overlay" onclick="hideEnquiryForm()"></div>
    <div class="enquiry-form" id="enquiry-form">
        <div class="enquiry-header">
            <h2>Enquiry</h2>
            <button class="exitEnquiryForm" id="exit-enquiry-form" onclick="hideEnquiryForm()">✖</button>
        </div>
        <form class="enquiryForm" id="enquiryForm" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="8106ef89-99b4-458c-9f3f-ddefb3b77b8e">
            <input type="hidden" id="course_name" name="course_name" value="">

            <label for="course">Course:</label>
            <select id="course" name="course" required>
               <option value="" disabled selected>Select a course</option>
               <option value="course1">Institutes For Interview Skill</option>
               <option value="course2">Group Discussion Class</option>
               <option value="course3">Training Group Discussion</option>
               <option value="course4">Tutorials For Group Discussion</option>
               <option value="course5">Soft Skill Training Center</option>
               <option value="course6">Language Classes For English Grammer</option>
               <option value="course7">Tutorials For English Grammer</option>
               <option value="course8">Tutorials For Interview</option>
               <option value="course9">Language Classes For Corporate English</option>
               <option value="course10">Spoken English Workshops</option>
               <option value="course11">Language Classes For English Conversation</option>
               <option value="course12">Institutes For Personality Development</option>
               <option value="course13">Institutes For Communicaton Skill</option>
               <option value="course14">Language Class English Spoken Certificate Course</option>
               <option value="course15">Personal Grooming Classes</option>
               <option value="course16">Institutes For Interview Skill</option>
               <option value="course17">Interview Technique Training</option>
               <option value="course18">Personality Development</option>
               <option value="course19">Communication Training Centres</option>
               <option value="course20">Public Speaking Institutes</option>
               <option value="course21">Language Classes</option>
               <option value="course22">Institutes For Personality Development</option>
               <option value="course23">Language Classes For English</option>
            </select>

            <label for="customer_name">Name:</label>
            <input type="text" id="customer_name" name="customer_name" required>
            
            <label for="customer_email">Email :</label>
            <input type="text" id="customer_email" name="customer_email" required>
            
            <label for="customer_phone">Phone Number:</label>
            <input type="tel" id="customer_phone" name="customer_phone" required>
            
            <label for="text">Enquiry:</label>
            <textarea id="text" name="text" rows="4" ></textarea>
            
            <button type="submit">Submit</button>
        </form>
    </div>


    <div id="Whatsapp"></div>

    <section id="footer">
      <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <h5>Quick links</h5>
                  <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/keyfactor"><i class="fa fa-angle-double-right"></i>Key Factor</a></li>
                    <li><a href="/gallery"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="/blog2"><i class="fa fa-angle-double-right"></i>Blog's</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                  <ul class="list-unstyled list-inline social text-center">
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
              </hr>
          </div>	
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                  <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
              </div>
              </hr>
          </div>	
      </div>
  </section>

    </div>
    </div>

    <script>
        function showEnquiryForm() {
            document.getElementById('enquiry-form').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function hideEnquiryForm() {
            document.getElementById('enquiry-form').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        document.getElementById('enquiryForm').addEventListener('submit', function(event) {
        event.preventDefault(); 

        const form = event.target;
        const selectedCourseElement = document.getElementById('course');
        const selectedCourseName = selectedCourseElement.options[selectedCourseElement.selectedIndex].text;

        document.getElementById('course_name').value = selectedCourseName;

        console.log('Selected Course Name:', selectedCourseName);
        console.log('Course Name in Hidden Field:', document.getElementById('course_name').value);

        const formData = new FormData(form);

        for (let [key, value] of formData.entries()) {
        console.log(`${key}: ${value}`);
    }

    fetch(form.action, {
        method: form.method,
        body: formData
    }).then(response => {
        if (response.ok) {
            alert('Form submitted successfully!');
            form.reset(); 
            hideEnquiryForm(); 
        } else {
            alert('There was an issue submitting the form.');
        }
    }).catch(error => {
        alert('There was an error submitting the form.');
        console.error('Error:', error); 
    });
});

            fetch('/whatsapp')
        .then(response => response.text())
        .then(data => {
        document.getElementById('Whatsapp').innerHTML = data;
        });
    </script>

  </body>
</html>