<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="/static/Admin.css">
    <link rel="stylesheet" href="/static/login.css">
  </head>
  <body>
    <div class="body-root">
    <div class="body-section">
        <div class="container flex">
            <div class="login-page flex">
                <div class="text">
                    <img src="/background/swa.png" alt="Image">
                </div>
                <form method="post" action="/login">
                    <h1>Admin Login</h1>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <div class="link">
                        <button type="submit" class="login">Login</button><br>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
    </div>

  </body>
</html>