<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutUs.css" />
</head>
<body>
  <div class="about">
    <h1>About Us</h1>
  </div>
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <div class="text-container">
          <p class="text-blk heading">
            "Speakwell"
          </p>
          <p class="text-blk subHeading">
            "Speakwell" Spoken English Classes is a leading and renowned institute in Nagpur, dedicated to enhancing spoken English and written communication skills. Our programs cover a wide range of topics, including Grammar, Vocabulary, Group Discussion, Public Speaking, Interview Techniques, Voice and Accent in Advanced courses, Extempore, Telephone Etiquette, Customer Service, and Soft Skills.
            <br><br>
            We focus on grooming candidates to effectively communicate with confidence in corporate settings, helping them improve their personalities. With limited students per batch, we ensure individual attention, guided by Business English Certified Trainers. Our courses are affordable, with the beginner program lasting 2 months and culminating in certification. Join us to excel in communication!
                      
            </p>
        </div>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number2img" src="https://images.unsplash.com/photo-1515187029135-18ee286d815b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="number3img" src="https://images.unsplash.com/photo-1538708591342-2dcd6706e3b6?q=80&w=1064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
        <img class="number4img" src="https://images.unsplash.com/photo-1467746474745-41dd2c7524ce?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="number7img" src="https://images.unsplash.com/photo-1543109740-4bdb38fda756?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="number6img" src="https://fpimages.withfloats.com/tile/61efd7dc588c630001ce120b.jpg">
      </div>
    </div>
  </div>
</body>
</html>
